@import "globals";

@import "animations";
@import "splash";
@import "search";
@import "results";
@import "footer";
@import "scrollbar";

@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro.ttf.woff") format("woff"),
    url("../fonts/Intro.ttf.svg#Intro") format("svg"),
    url("../fonts/Intro.ttf.eot"),
    url("../fonts/Intro.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  z-index: 1;
}

a {
  color: $primary;
  text-decoration-style: wavy;
  text-underline-offset: 2px;
  text-decoration-color: rgba($primary, 0.4);
  transition: 0.3s;
}

a:hover {
  color: lighten($primary, 10%);
  text-decoration-color: lighten(rgba($primary, 1), 10%);
}

a:visited {
  color: $primary;
}

.MuiSkeleton-root {
  animation: fadein 0.4s;
}

.MuiBackdrop-root {
  background: #00000033 !important;
}

.text-muted {
  color: #9c9c9c !important;
}

.text-monospace {
  font-family: monospace !important;
}

.no-select {
  user-select: none;
}
