::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($color: $primary, $amount: 10);
  box-shadow: 0 0 10px $primary;
}
